<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Account Activation</title>
    

</head>

<body bgcolor="#FFFFFF">
    <table class="body-wrap">
        <tbody>
            <tr>
                <td></td>
                <td class="container" bgcolor="#FFFFFF">

                    <div class="content">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <br>
                                        <h3>Hi @Name,</h3>
                                        <br>

                                        <p>You have requested to have your password reset for your account at @Host.</p>

                                        <br>
                                        <p>Please click on the button below to reset the password:</p>
                                        <br>
                                        <p style="text-align:center;">
                                            @CallbackLink
                                        </p>
                                        <br>
                                        <p>If you received this email in error, you can safely ignore this email.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </td>
                <td></td>
            </tr>
        </tbody>
    </table>



</body>
</html>