@model CreateBillingItemSerializer

<div class="container-fluid animatedParent animateOnce">
    <div class="tab-content my-3" id="v-pills-tabContent">
        <div class="card no-b shadow">

            <div class="card-body">
                <div class="row my-3 ">
                    <div class="col-md-12">
                        <h1>Admin Billing </h1>
                        <h6>Use the form below to search for a water service provider </h6>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card no-b shadow">


    </div>
</div>
